[2016-11-02 13:26] FabianHofmann opened #1 "Images for README"
![countrytotals](https://cloud.githubusercontent.com/assets/19226431/20011650/a654e858-a2ac-11e6-93a2-2ed0e938f642.jpg)
![entsoe_stats](https://cloud.githubusercontent.com/assets/19226431/20011652/a67e12f0-a2ac-11e6-97e1-dacc3399c946.jpg)
![fueltypetotals](https://cloud.githubusercontent.com/assets/19226431/20011651/a67d0766-a2ac-11e6-97a2-a03febdefa05.jpg)
![matching_proportions](https://cloud.gi

[2016-11-20 19:58] #1 closed

[2017-04-12 10:54] SimDeh opened #2 "countryside issue in data.py"
Hello,

I found a code part in data.py which caused an error by running the code.
So this part
`opsd.Country = countrycode(codes=opsd.Country.tolist(),
                               target='country_name', origin='iso2c')`
in data.py in line 90 to 91 caused the following error:
`TypeError: 'module' object is not callable`

The solution for me was to change it to:
`opsd.Country = countrycode.countr

[2017-04-12 11:41] SimDeh opened #3 "TypeError in duke.py"
Hello,

I mentioned a TypeError in duke.py by running the code:
`TypeError: a bytes-like object is required, not 'str'`

in line 99:
`if 'Error' in stderr:
            raise RuntimeError("duke failed: {}".format(stderr))`

I could fix it by setting 'Error' as a byte instead of a string:
`if b'Error' in stderr:
            raise RuntimeError("duke failed: {}".format(stderr))`

Best regards

[2017-04-12 16:21] coroa commented on #2
Fixed in commit dacf9ba0b231f2d98c1acab501687fa33f4e1f56

[2017-04-12 16:25] coroa commented on #3
Thanks for spotting, we're using python 2. Your fix is only partial, since stderr will still be a bytes object and then fail in
`raise RuntimeError("duke failed: {}".format(stderr))`

[2017-04-20 11:37] SimDeh opened #4 "heuristics.py:58 - IndexingError"
Hey guys,

while running the updated code I got the following Warning/Error:

I tried to run the code with Python 2.7 as well as 3.5. I attached a screenshot of the error.

Best regards
Simon

![screen shot 2017-04-20 at 13 37 02](https://cloud.githubusercontent.com/assets/26626463/25228912/76eddbd8-25ce-11e7-9fca-4967377e464f.png)
![screen shot 2017-04-20 at 13 36 20](https://cloud.githubusercont

[2017-04-24 08:26] SimDeh commented on #4
It seems that the problem is caused by choosing neither rawEU and rawDE data from OPSD in data.py

[2017-04-25 17:13] coroa commented on #3
This is not fixed! It IS a problem with python 3.

[2017-04-25 17:14] coroa commented on #4
rawEU and rawDE are just there for debugging and should not be used in the final code. Reopening for confirmation.

[2017-04-25 17:45] #3 closed

[2017-04-25 22:25] #4 closed

[2017-04-26 10:03] SimDeh opened #5 "Error in heuristics.py"
Hey guys,

I spotted an issue caused by code in "heuristics.py" and "collection.py"

[code]

Best regards

[2017-04-26 13:22] coroa commented on #5
That has already been fixed in commit 5b50146. Please pull the latest changes and confirm!

[2017-04-26 13:57] SimDeh commented on #5
I've pulled the latest changes and as it seems it works!

[2017-04-27 05:27] #5 closed

[2017-10-12 13:02] FabianHofmann commented on #1
![powerplantmap](https://user-images.githubusercontent.com/19226431/31497088-1ed25900-af5e-11e7-8da7-9ff76fe18c3e.png)
![matching_proportions](https://user-images.githubusercontent.com/19226431/31497124-45ea4b10-af5e-11e7-8153-7046f17ca05f.png)

[2017-10-12 18:37] FabianHofmann commented on #1
![modulstruct_rotated](https://user-images.githubusercontent.com/19226431/31513014-2feef76e-af8d-11e7-9b4d-f1be929e2dba.png)

[2017-10-12 20:06] FabianHofmann commented on #1
[PowerplantmatchingDoc.pdf](https://github.com/FRESNA/powerplantmatching/files/1380529/PowerplantmatchingDoc.pdf)

[2017-10-21 14:25] zoobar opened #6 "CSV Files missing"
installed the package but running any of the functions fails because of missing csv files. How to get hold of the required csvs would be very much appreciated.

[2017-10-21 19:05] coroa commented on #6
You probably have not setup [git lfs](https://git-lfs.github.com/) correctly, which is responsible for fetching the files. If that is not the case, it would help us to narrow down the issue, if you included a bit more details about which csv files are missing.

Best,
Jonas

[2017-10-23 11:47] zoobar commented on #6
Works now. Thanks a lot.

[2017-10-23 12:16] coroa commented on #6
Good to hear.

[2017-10-23 12:16] #6 closed

[2018-07-31 21:37] FabianHofmann commented on #1
![powerplantmap_without_wepp](https://user-images.githubusercontent.com/19226431/43488643-ada49010-951a-11e8-844b-6625e5e9ac5e.png)

[2018-08-16 07:05] maledo opened #7 "License of the pictures"
Hi,

thank you for sharing your powerplantmatching tool under an open license!
I was wondering, whether your pictures also get an open license to use them for talks and so on. In particular, I am interested in the comparison picture of https://github.com/FRESNA/powerplantmatching/issues/1#issuecomment-409376255.

Thank you!

[2018-08-17 11:39] FabianHofmann commented on #7
Hello maledo,
you can easily use the pictures for your purposes. If you want to recreate them, most of them are reproducible via the powerplantmatching.plot module. Anyway we are going to add a CC BY license for the pictures (which does not restrict your usage) and a reference which you can use.
Best regards!
Fabian

[2018-08-17 11:46] maledo commented on #7
Great, thank you!

[2018-08-17 11:49] coroa commented on #1
The pictures and plots tracked in this issue are licensed under a [Creative Commons Attribution 4.0 International license (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/). They are attributed to (Frankfurt Institute for Advanced Studies)[https://www.fias.science/de/theoretische-physik/gruppen/stefan-schramm/fresna/], the original version is available from the (powerplantmatching)[https:/

[2018-08-17 11:53] coroa commented on #7
I added a note about their license to the respective thread:
https://github.com/FRESNA/powerplantmatching/issues/1#issuecomment-413840949

[2018-08-17 11:53] #7 closed

[2018-11-12 11:32] vogt31337 opened #8 "can't update / load inital"
Hi,

When trying:
[code]

Running Windows 7, installed env with conda -f requirements.yaml

I get:
[code]

conda list:

[code]

config.yaml:
[code]

[2018-11-12 11:41] vogt31337 commented on #8
If `parallel_duke_processes: false`, it works. Parallel processing is somehow broken.

[2018-11-27 16:39] FabianHofmann commented on #8
Thanks for reporting, it seems that your version of multiprocessing does not reference correctly to subfunctions. For now, I set the default of parallel_duke_processes to false. However, on python3 (conda environment for updated version on master branch) the parallel processing works fine. So if you still want to use it, you can pull the current version of powerplantmatching, update your conda env

[2019-01-25 20:09] coroa commented on #8
Hi everyone,

there is a fundamental difference between how multiprocessing works on linux (ie. by forking) and on windows (ie. starting new processes which reimport the module). With the former your child processes maintain the full state of the interpreter, i.e. variables, functions and so on, while with the latter they start from scratch re-import the module and then pickle the function call an

[2019-02-26 14:40] anyexingluzk opened #9 "ESE database not found"
Hi,

When trying to compile for the first time, the ESE dataset is missing and both links suggested are invalid. Anyone can update the links please?

[2019-03-01 23:51] coroa commented on #9
unfortunately the ESE page is

If you are able to download any dataset from them (global csv or otherwise), please tell us how to, and we will update the instructions. In the mean time, use the attached [`projects.xls`](https://github.com/FRESNA/powerplantmatching/files/2921453/projects.zip) I downloaded from them somewhen in December.

[2019-03-04 15:07] anyexingluzk commented on #9
Thank you for your reply. I managed to get what I wanted even without the project.xls. Nevertheless, it's good to have it so I can recompile it in the future.

[2019-03-20 09:42] christieriep commented on #8
Hi! Just had the same error. I also run it with Windows 7, installed env with conda -f requirements.yaml.
After setting _parallel_duke_processes: false_ and tying again _pm.collection.matched_data()_ I receive this:

AttributeErrorTraceback (most recent call last)
<ipython-input-9-d2be3a8e013c> in <module>()
----> 1 pm.collection.matched_data()

C:\Users\TUBAF\powerplantmatching\powerplantmatching

[2019-03-20 11:18] FabianHofmann commented on #8
Hey! Thank you for your report. This error is not related to parallel_duke_process.
The problem occurs in the assignment of a new column when calling the CARMA data. I cannot reproduce the error though.

I can just guess:
Can you please check your pandas version with
[code]
? It might be that your version does not support the function pd.DataFrame.assign with a lambda function correctly.

Another

[2019-03-21 08:11] christieriep commented on #8
Thank you very much @FabianHofmann!

I checked pandas:
import pandas as pd
pd.__version__
C:\....\powerplantmatching\lib\site-packages\matplotlib\colors.py:298: MatplotlibDeprecationWarning: The is_string_like function was deprecated in version 2.1.
  if cbook.is_string_like(arg):
u'0.23.4'

And the otput of the line:

pd.DataFrame(pm.data.data_config).loc['source_file']
BNETZA    powerplantmatchi

[2019-03-21 08:40] FabianHofmann commented on #8
okay, could you try:
[code]
it should return a DataFrame with about 50k rows. Does that work?

[2019-03-21 09:28] christieriep commented on #8
I bet not like it should:
![Unbenannt](https://user-images.githubusercontent.com/48752749/54743304-1042d780-4bc4-11e9-8fe3-b78b1aaab543.png)

[2019-03-21 12:30] FabianHofmann commented on #8
yes, that's the problem. You do not have the full files, only the references. Please  check if you have git lfs installed.
In your bash, in the repo, please try
[code]
or
[code]

if nothing is happening, please delete your repo and clone it again (make sure git lfs is installed).
If this is also not working, we have to see how to work it out...

[2019-03-22 08:55] coroa commented on #8
Sorry for butting in,

it's not necessary to re-clone the repository.

Just issue
[code]
in the repository.

After you installed git-lfs.

Best,
Jonas

On Thu, Mar 21 2019, FabianHofmann wrote:

[2019-05-09 14:38] JanFrederickUnnewehr commented on #9
Energy Storage Exchange (ESE) database -> now DOE Global Energy Storage Database
The ESE website has changed there name and link.
new: https://www.energystorageexchange.org/
new project export side: https://www.energystorageexchange.org/projects

There are now using the csv. format for file export and some header names has also been changed compared to the old .xls export. Therefore the data impor

[2019-05-09 14:56] JanFrederickUnnewehr opened #10 "Data-Sources"
Some data sources are not mention in the [documentation](https://github.com/FRESNA/powerplantmatching#data-sources) or newer versions are available. Some source are only mention and explained in the [data.py](https://github.com/FRESNA/powerplantmatching/blob/master/powerplantmatching/data.py) file. A small comment in the [documentation ](https://github.com/FRESNA/powerplantmatching#data-sources) w

[2019-06-18 09:20] fneum opened #11 "Append BNetzA-MaStR renewables to power plants"
I would like to add the wind and solar power plants from the BNetzA-MaStR to the matched power plant dataset (i.e. no matching of solar and wind, just concatenated at the end). I assume I need to create a function in `data.py` that translates the data to the common format? I read there's already the option to add wind and solar from OPSD. Where can I find this? I could draw some inspiration from t

[2019-06-25 09:50] danielsjf opened #12 "Adding Open Street Map (OSM) as a source"
Some non EU countries are harder to find consistent data for. Could OSM be added for these countries as a source? Not all generators have names, but some do have names and capacities.

A quick example for Turkey with the Overpass-turbo API: https://overpass-turbo.eu/#

[code]

![image](https://user-images.githubusercontent.com/6696142/60088275-b57ac800-973e-11e9-8f07-9a81040aa22a.png)

![image](ht

[2019-07-09 12:14] FabianHofmann commented on #12
Hey @danielsjf

that is definitely a good idea. Some problems occurred so far as I had a first try:

- extracting important information as capacity requires a lot of individual data parsing as there is no general convention on the data

- a lot of data entries do not have any information about the output capacity

- the request limit prohibits too many queries which however are needed for aggregat

[2019-07-09 14:04] FabianHofmann commented on #11
Hey @fneum!

I am sorry for the late reply, yes indeed you can extend your data set by the vres of opsd. If you have some more days of patience, I am working on a new version of ppm which should facilitate the whole usage.

[2019-07-09 14:20] fneum commented on #11
Sweet! There is no hurry since the geolocation script for the solar plants in BNetzA-MaStR is still running.

BTW will you consider versioning, `pip`, maybe `conda` and so on?

[2019-07-09 14:27] FabianHofmann commented on #11
yes, I intended to go for conda, since I wanted to check out how to create a recipe. although pip would be nice as well. perhaps both :)

[2019-07-10 08:22] coroa commented on #11
Both!

Recipes based on pip are easiest :) And pip is not hard either.

For conda: https://github.com/conda-forge/pypsa-feedstock/blob/master/recipe/meta.yaml

[2019-07-16 11:28] FabianHofmann commented on #11
@fneum (I will just use this thread here) could you test the pip installation of powerplantmatching in a new environment?
[code]

and if that worked
[code]
the last might take a while, it downloads, cleans and merges all the data files. (JRC should be included)

To answer your original question, you can use
[code]
which however has a stupid bug atm, which I just encoutered. But more on this later

[2019-07-16 12:52] fneum commented on #11
Seems to work!
[code]

[2019-07-16 13:27] coroa commented on #11
Couple of comments:
1. This conversation should move to a *new release* PR.
2. `@pandas.api.extensions.register_dataframe_accessor("powerplant")` is neat, i didn't know
3. It would be better to move code from `__init__.py` into `core.py` or `common.py` to avoid juggling with those cyclic dependencies as in f.ex. `utils.py`:
[code]
4. Windows doesn't meet the XDG specs. I *think* it's best to use t

[2019-07-16 15:28] FabianHofmann commented on #11
@fneum thank you for the test!

@coroa thanks for your points. I will add a new PR. And you're right, the cyclic dependencies are annoying and cause high import times ~600ms. I try to set the imports in a more efficient manner.

[2019-08-06 15:14] dcradu opened #14 "TypeError in extended_by_non_matched"
I am running the module from a custom config file. Basically, I am selecting AT as target country and {Natural Gas, Hydro, Wind} as target fuel types. Main point, I am trying to obtain subsets of the already existing database.

I am importing the config file as:
`config = pm.get_config(path_to_config)`

And I call the powerplants module as:
`plants = pm.powerplants(config, from_url=False, stored=F

[2019-12-17 13:50] Ludee commented on #11
Hello dear friends,
I just finished a new data download of the MaStR database. The data quality is improving slowly.
Now I am facing some problems in the wind dataset. There are around 10000 double entries I would like to find. Did someone already tried MaStR and PPM?

[2019-12-17 14:09] FabianHofmann commented on #11
Hey @Ludee, nice to hear that. I didn't not take any look at it, but as far as I know a colleague of @fneum is working on a similar thing? I think she already formatted the data according to ppm.

[2019-12-17 14:10] FabianHofmann opened #16 "Introduce/Include MaSTR data"
Hello dear friends,
I just finished a new data download of the MaStR database. The data quality is improving slowly.
Now I am facing some problems in the wind dataset. There are around 10000 double entries I would like to find. Did someone already tried MaStR and PPM?

_Originally posted by @Ludee in https://github.com/FRESNA/powerplantmatching/issues/11#issuecomment-566548943_

[2019-12-17 14:11] #8 closed

[2019-12-17 14:11] #9 closed

[2019-12-17 14:13] FabianHofmann commented on #11
I'm closing this in favour of #16 (due to mixed issues here)

[2019-12-17 14:13] #11 closed

[2019-12-17 14:22] #10 closed

[2019-12-17 14:24] FabianHofmann commented on #14
Sorry for the late reply, I've overseen it. Is the problem still existent with the newer version? Or did you find a solution?

[2020-03-03 11:41] Jaspergeipel opened #17 "Issue with reloading and rematching"
Setting from_url=False (default) apparently does not load again all the necessary data files.
Adding update_all= True  doesn't work either.
How to rerun the whole scripting after adapting the manual config file?

[2020-03-04 17:08] FabianHofmann commented on #17
Hey thank you for pointing this out! I fixed it (I least I think). Can you test the new pip version (conda update takes a bit) or the actual master branch?

[2020-03-06 17:28] Jaspergeipel commented on #17
yep, update=all works, as well as "update_all_matches.py" in maching analysis. Many thanks

[2020-03-06 17:28] #17 closed

[2020-03-06 17:41] Jaspergeipel opened #18 "Issue with pm.data.wepp"
Hello Fabian,
I just noticed that there seems to be an issue with the import of WEPP data:
1. "source_file" should probably be replaced by "fn"
2. WEPP uses "correct_manually" from utils.py which in turn relies on data_config which does not exist.
[code]
Error Message:
File "C:\ProgramData\Anaconda3\lib\site-packages\powerplantmatching\utils.py", line 143, in correct_manually
    from .data import

[2020-03-09 16:30] Jaspergeipel commented on #18
Addon:

- outcommenting the line 816: `#.pipe(correct_manually, 'WEPP', config=config)` enables to import the full 31945 row long wepp dataframe via ppm.data.WEPP()
- However running `ppm.powerplants(from_url=False, update=True)` provides the following error massage,

File "C:\Users\geipel\Desktop\JRC_capacities_processing\Pmtest.py", line 51, in <module>
    df = ppm.powerplants(from_url=False, u

[2020-03-10 10:30] FabianHofmann commented on #18
Hey @Jaspergeipel ,
this comes from the fact that I don't have the WEPP data, hence the support for it is not well covered :)   The second error seems to be the same that you talked about in the mail. I'm having a look at it now.

[2020-03-10 11:36] FabianHofmann commented on #18
The second error should now be solved, please check on the current master. Note that in your config, you most probable have WEPP still in `fully_included_sources` (which does not really makes sense). This raises a warning now

[2020-03-10 23:35] Jaspergeipel commented on #18
Unfortunatly the "ValueError: No objects to concatenate" error seems to persist:
It occurs if I make one of the following changes config.yaml:
- removing specific target_fueltypes such as Hydro,
- if I outcomment specific countries
- if I include the WEPP option  from matching_sources

runfile('C:/Users/geipel/Desktop/Neuer Ordner/Pmtest.py', wdir='C:/Users/geipel/Desktop/Neuer Ordner')
WARNING:po

[2020-03-12 20:18] Jaspergeipel commented on #18
works smooth now. Issue most likely due to outcommented technologies in the config file
thanks

[2020-03-12 20:18] #18 closed

[2020-03-16 11:53] samarthiith opened #19 "Issue with aggregate_units()"
Hi!
I am trying to run the 'example of use.ipynb' file and run into the error message shown below (local paths removed.)

thanks!
Samarth
[code]

[2020-04-01 09:31] Strohut opened #21 "Aggregate_units() does not work"
Hello,

I've been trying to run the "Example of use.ipynb" and everything works fine except for aggregate_units(), which leads to the error message below.

[code]

[2020-04-01 09:56] FabianHofmann commented on #21
Hey @Strohut, thanks for reporting. The example works fine for me. However I'm on a linux machine. It seems that your temporary directory is not accessible. Although it is very unlikely, that the error comes from there, but can you try out the following (in python):

[code]
And have a look if this returned folder exists

[2020-04-01 10:44] FabianHofmann commented on #19
Hey @samarthiith , this seems to be the same error as in #21, let's move the discussing there then

[2020-04-01 10:44] #19 closed

[2020-04-01 10:46] Strohut commented on #21
Thanks for the quick answer! The code returns `'C:\\Users\\<>\\AppData\\Local\\Temp\\tmpkkql0cul'` so I don't think that is where the problem lies. Do you have any other advice for what I could try?

[2020-04-01 13:30] FabianHofmann commented on #21
mmh this turns out to be tricky for me. The question where I'm stuck is which file it cannot be found/opened.

Can you please try the following:
1. In the notebook, after the error occurs, go into debug mode (type `%debug` in the next cell)
2. Print the cwd with `p cwd`. This is the directory where the aggregation is supposed to happen, if cwd is not defined go up in the traceback, type `u` and th

[2020-04-01 14:36] Strohut commented on #21
Okay I tried it and while the debugger shows a folder, there is no such directory on my computer if I go to check.

[2020-04-01 14:41] FabianHofmann commented on #21
what is the name of the folder? is it a tempdir?

[2020-04-01 15:12] Strohut commented on #21
Yes, the folder it shows is

[2020-04-01 16:04] FabianHofmann commented on #21
Okay I think we're getting closer. It seems, that the tempdir is either not properly created or does not have the correct rights or is somehow deleted too early.

Can you again check the rights of the folder coming out of
[code]

[2020-04-01 17:04] Strohut commented on #21
I'm not certain what you mean but all permissions except for Special Permissions are checked and for the attributes, it states that they are Read-only (Only applies to files in folder).

[2020-04-01 17:21] FabianHofmann commented on #21
Yes thanks, this is what I meant. Another thing what came up in my mind.
In debug mode, can you go 2 times up, and print out `datasets`. It might be that this is empty, and this causes an error.

[2020-04-01 17:27] FabianHofmann commented on #21
Ah this might be the error: Do you have java installed ? just go into the terminal and type in `java`  or `java -version`. Does this raise an error?

[2020-04-01 18:20] Strohut commented on #21
If I enter debut mode above this part of the code, it says that datasets is not defined. But it shows the results for all of the variables that I did define in the code.
And no, I don't have java installed. Is it necessary?

[2020-04-01 19:16] FabianHofmann commented on #21
yes that will be it, java has to be installed. Probably I insert a warning if it's not installed.

[2020-04-01 20:23] Strohut commented on #21
Thanks a lot, that was it!

[2020-04-01 20:23] #21 closed

[2020-04-03 08:46] FabianHofmann opened #22 "Raise error if java not installed"
Ths code check whether java is installed. Not having it installed, lead to confusion especially on windows machines where the resulting error is very opaque

[2020-04-03 08:58] FabianHofmann commented on #14
I think this error is solved in the current version. I closing this, feel free to open again if the error still occurs

[2020-04-03 08:58] #14 closed

[2020-04-03 09:03] dcradu commented on #14
Sorry for the very late reply. The initial error was not occurring on an Ubuntu distribution, just on my Windows machine. Couldn't find an explanation for it, tough. Thank you for following up. If we encounter it again, we'll report it.

[2020-04-03 09:11] FabianHofmann commented on #14
alright :)

[2020-04-03 10:22] FabianHofmann opened #23 "Add GEO power plant units data"
The scraper https://morph.io/coroa/global_energy_observatory_power_plants also parses power plant unit data. PPM does not use this so far and misses a lot of data, e.g. Commissioning dates, number of units.
In a first step: Integrate the data and use some of the data point.

[2020-04-03 10:24] FabianHofmann commented on #23
TODO: Add a warning for custom config yaml, that the following snippet has to be added:

[code]

[2020-04-03 10:40] FebinKa opened #24 "Add datasets to custom configuration"
Hi,

How can I add additional datasets to a custom configuration of the yaml? And where should I save the modified file for the changes to be applied?

[2020-04-03 10:44] FebinKa opened #25 "Documentation of accessor 'powerplant'"
Hi,

Is there some way to see the methods that are applyable via the accessor 'powerplant'?

[2020-04-03 12:40] FabianHofmann commented on #24
Okay let's try to write a small instruction (this should go to the README afterwards)

# Intergrating new Datasets
Let's say you have a new dataset "FOO.csv" which you want to combine with the other data bases. For properly integrating it, please follow these steps. Please, before starting, make sure that you've installed `powerplantmatching` from your downloaded local repository (link).

1. Look

[2020-04-03 12:43] FabianHofmann commented on #24
@Strohut can you try this out and check where things are not clear? It;s quiet a few points, also happy about proposition to make the process easier.

[2020-04-06 17:45] Strohut commented on #24
Great, thanks a lot for the detailed explanation!
I have started working on your explainer in a fork and expanded a bit on the 7th step, but I wanted to wait to submit a Pull Request before I can get every part of the guide to work. I managed to add a new dataset but step 9 results in `ValueError: No objects to concatenate`.
The hardest part for me was to get an idea of what I had to do in the `da

[2020-04-09 19:02] FebinKa commented on #24
I've been trying to resolve the error in step 9 again but without success. Even when I try to run the code in a new environment and with the original config.yaml, I obtain the following error.

![grafik](https://user-images.githubusercontent.com/55534006/78927722-a67fbf00-7a9f-11ea-9bf4-8a7287299bb2.png)

[2020-04-10 06:55] FabianHofmann commented on #24
It seems as the df.query('Country == @c') is empty. Can you double check fully included sources in your config. The error happens when ppm wants to extend (fully include) one of those datasets. If your new dataset is there I guess, there has to be something wrong with the country names?

[2020-04-10 06:56] FabianHofmann commented on #24
For those cases it's always good to `%debug` and traceback which dataset caused the error. Go up to the first trace and print out `source[name]`

[2020-04-13 15:57] FebinKa commented on #24
Yes, one of the country names in my new dataset was "Czechia" instead of "Czech Republic", thank you!
However, I still cannot add all of my datasets, most of which include information on only one country. I can combine different datasets as long as they have some geographic overlap, but when I try to combine datasets from different countries, I obtain the following error message as it tries to com

[2020-06-29 12:24] ChinCity opened #27 "Downloading collection matched data I get 'TypeError'"
When I attempt to download the processed power plant data I get a TypeError.
I have verified my pandas version and it is 0.23.4, the dependency for the powerplantmatching of pandas is 0.23.0 or greater. So it should be fine...

Code:

`import powerplantmatching as pm
import pandas as pd

all_data = pm.collection.matched_data()`

Error:

`
  File "C:\Users\sab\AppData\Local\Continuum\anaconda3\lib\

[2020-06-29 12:29] FabianHofmann commented on #27
Hey @ChinCity ,

thank you for reporting. Unfortunately it seems that the requirement are wrong in this case. The dropna flag was introduced in pandas v0.24, see [its doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html). So we have to update the dependencies.

[2020-06-29 12:32] #27 closed

[2020-06-29 13:24] ChinCity commented on #27
Thank you

[2020-06-30 07:49] ChinCity commented on #22
When unzipping the local file I got this (see below), lacking 'duke'. I assume it is related to this thread (sorry if not). It's not clear, should I download duke or Java? and how?

![image](https://user-images.githubusercontent.com/37304682/86098786-e52d8000-bab6-11ea-9c0c-e88bb28144b2.png)

[2020-06-30 08:46] FabianHofmann commented on #22
Did you check whether java is installed? Duke comes automatically with the powerplantmatching package

[2020-06-30 09:34] ChinCity commented on #22
I have java installed.

Version 8 update 131 (build 1.8.0_131-b11)

[2020-07-02 10:16] ChinCity opened #28 "How do I know the integration of a new dataset was successful"
Hi,

I followed your instructions Integrating a new dataset:

In the last step I got this:

    In[9]
    pm.data.JRC_OPEN_UNITS()
    INFO:numexpr.utils:NumExpr defaulting to 4 threads.

    Out[9]
    Empty DataFrame
    Columns: [Name, Fueltype, Technology, Set, Country, Capacity, Efficiency, Duration,
    Volume_Mm3, DamHeight_m, YearCommissioned, Retrofit, lat, lon, projectID]
    Index: []`

[2020-07-02 10:25] FabianHofmann commented on #28
Hey @ChinCity, it looks quiet good. I think you have to pull the `convert_alpha2_to_country` line to the top before the country filtering.

Or probably the line
[code]
can be deleted as the config_filter should take care of this.

[2020-07-02 13:07] ChinCity commented on #28
Hey @FabianHofmann,

I tried both of those but I'm still getting an empty dataframe :/

[2020-07-02 13:53] FabianHofmann commented on #28
Have you checked if your raw file is properly loaded? If yes, I would go step by step through the lines and check where the entries are dropped (atm it seems only the config filter could do so)

[2020-07-02 18:59] ChinCity commented on #28
You are right that did it!

Final code:

    config = get_config() if config is None else config

    change_fueltype={'Fossil Gas': 'Natural Gas',
                     'Fossil Coal-derived gas': 'Natural Gas',
                     'Hydro Run-of-river and poundage': 'Hydro',
                     'Hydro Pumped Storage': 'Hydro',
                     'Hydro Water Reservoir': 'Hydro',

[2020-07-02 18:59] ChinCity commented on #28
You are right that did it!

Final code:

    config = get_config() if config is None else config

    change_fueltype={'Fossil Gas': 'Natural Gas',
                     'Fossil Coal-derived gas': 'Natural Gas',
                     'Hydro Run-of-river and poundage': 'Hydro',
                     'Hydro Pumped Storage': 'Hydro',
                     'Hydro Water Reservoir': 'Hydro',

[2020-07-02 18:59] #28 closed

[2020-07-02 19:02] ChinCity opened #29 "KeyError: 'Efficiency' when updating matched dataset"
After integrating the dataset in data.py.

I ran

     pm.powerplants(update_all=True)

And got the following error:

    INFO:powerplantmatching.collection:Collect combined dataset for CARMA, ENTSOE, GEO, GPD, JRC,
    JRC_OPEN_update, OPSD
    INFO:numexpr.utils:NumExpr defaulting to 4 threads.
    INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'CARMA'.
    WARNING:powerp

[2020-07-10 09:17] #22 closed

[2020-07-10 09:17] #23 closed

[2020-08-18 12:07] FabianHofmann opened #32 "add carbon phase out tracker"
We should incorporate the phase out dates for all coal power plants https://beyond-coal.eu/database/ and keep in mind their ODbL license https://opendatacommons.org/licenses/odbl/summary/

[2020-10-12 09:49] JanFrederickUnnewehr opened #34 "TypeError: <lambda>() missing 1 required positional argument: 'url' when including 'BNETZA'"
I have tried to include BNETZA in the matching list. Currently I get the error that no URL is passed.

[2020-11-25 07:41] #34 closed

[2020-11-25 08:14] JanFrederickUnnewehr commented on #34
Thanks @FabianHofmann

[2020-11-25 09:11] FabianHofmann commented on #24
Hey @FebinKa , is the issue still there? If not I'm closing this

[2020-11-25 09:14] FabianHofmann commented on #25
[code]
would be a good way (assuming `df` is a `pandas.DataFrame`)

[2020-11-25 09:16] FebinKa commented on #24
Hi, I found a work around that allowed me to do what I wanted to but I think the original issue of not being able to match datasets if they have no overlap (geographic in my case) might still exist.

[2020-11-25 10:01] FabianHofmann commented on #24
Alright, I think setting country_wise to `false` should do it or? (Even though this is not the best workaround for this case)

[2020-12-23 21:55] henri-chat-noir opened #38 "clean_powerplant name function dropping 8 IDs from GPD database"
I've been doing some refactoring, but I believe this is an issue in the code I forked not long ago.

In the clean_powerplantname function The "common word" test looks for more than a (hard-wired) 20 occurences of a word and then drops them -- this beyond the fixed list of stop words.  This is a clever idea and no problem with concept.

However, as/if a plant has ONLY such common words in the name,

[2021-01-02 15:19] henri-chat-noir opened #39 "Any untrapped NaN values in Technology cast to string "nan", then treated as matches by Duke"
I am not sure how confident I am that this is a 'bug' in the original code / combination of datasets, but I think worth reporting as at least a potential weakness.  The line that creates an issue, a potential one at least is:

.assign(**{col: df[col].astype(str) for col in ['Name', 'Country', 'Fueltype', 'Technology', 'Set', 'File']

which occurs in the aggregate_units function in Cleaning module.

[2021-01-06 22:17] henri-chat-noir commented on #39
Just to log in a quick follow-up, as I learn more about Pandas behavior.  It seems the default datatype may different across Pandas versions related to the str dtype now being available (and object being the default).  This may be an issue that could be cured by more explicit datatype assignment, but I haven't dug into it yet.

[2021-02-04 15:49] henri-chat-noir opened #40 "Beware LIO Code = 47 not always Ireland (the Country)"
tbh, not entirely sure whether I'd class this as a 'bug', but definitely a health warning on how the data is structured as related to Northern Ireland.

This is not Ireland (the Country), of course, but Ireland the island which is what Eiregrid covers.  Just to note some of the 47 plants are in the UK, which I'm not sure is really captured in the data structures that is in place, unless I'm missin

[2021-05-20 11:13] Eugenio2192 opened #41 "Custom config path is never accessed"
According to the instructions in the README to add a custom dataset  the package looks for custom configs in the directory returned by:

`pm.core.package_config['custom_config']`

However, the get_config function never access this directory, it goes instead into "repo_data_dir".

Line 28 of he core.py:
[code]

I placed my custom config there, but I don´t think that´s intented to be like that.

[2021-05-20 11:23] Eugenio2192 opened #42 "WEPP Integration is outdated"
I tried adding the WEPP dataset but it seems that the data function is using what seems an old method; it is referencing a config that is not there "config['WEPP']['source_file']". I solved it locally by implementing the "parse_if_not_stored" function but I don´t know if that´s ideal.
I had to use custom kwargs because when I exported the dataset in my computer it used european locale so I had to

[2021-05-20 15:30] Codingnoob94 opened #43 "pm.powerplants(reduced=False) not working"
Hello,

I'm very much new to python and programming in general. I tried to use the powerplantmatching for my research and installed it as described with "pip install powerplantmatching entsoe-py --no-deps" and
"conda install pandas networkx pycountry xlrd seaborn pyyaml requests matplotlib geopy beautifulsoup4 cartopy". But for some reason it doesn't seem to work properly. I'm using MacOS and prog

[2021-05-20 17:50] FabianHofmann commented on #43
Hey @Codingnoob94, could you send the whole error message? Sorry in advance, if this will take some days, I am a bit too buisy atm.

[2021-05-21 11:04] Codingnoob94 commented on #43
Thank you for your reply. No problem. Here is the error message:

INFO:powerplantmatching.collection:Collect combined dataset for CARMA, ENTSOE, GEO, GPD, JRC, OPSD
WARNING:powerplantmatching.collection:Forcing update since the cache file is missing
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'CARMA'.
----------------------------------------------------------------------

[2021-05-24 14:45] Codingnoob94 commented on #43
hello Fabian Hoffmann,

thank you for your effort. Fortunately I resolved my issue.
I needed to install the java package in Anaconda. Now it works.

[2021-06-24 14:35] NathanKalt opened #45 "Efficiency columns is always empty"
How to fill this data? From what source it should be taken?

[2021-06-24 16:20] #43 closed

[2021-06-24 16:21] FabianHofmann commented on #45
Hey @NathanKalt, yes this is due to the lack of data in the data sources (and/or men power to gather the data)

[2021-06-24 16:24] FabianHofmann commented on #42
hey @Eugenio2192, it's good that you could resolve it. We are not using the WEPP database anymore and @fgotzens who implemented it is also very buisy. So feel free to make a proposition in a PR.

[2021-06-24 16:28] FabianHofmann commented on #39
thanks @henri-chat-noir for reporting the nan issue is a very good point I haven't thought about. I try to tackle this potential issue in the next days.

[2021-06-24 16:30] FabianHofmann commented on #38
Good point, I agree a warning would be preferable!

[2021-06-24 17:03] NathanKalt commented on #45
Thank you!, I'm sure there is a way to calculate it or estimate somehow. Some extra research is needed, let's stay in touch

[2021-06-30 07:27] FLomb opened #46 "Add options for automated sub-national aggregation"
It would be cool to have an automated option for aggregating power plants into sub-national clusters within each country, based on standard sub-national units.

For instance, it would be really nice if the user could choose, as an option, the level of spatial aggregation, e.g.:
- NUTS2
- NUTS3
- GADM

So, instead of having as an output just the aggregate capacity of each European country, one coul

[2021-06-30 07:33] kais-siala commented on #46
Hi @FLomb
Not sure whether this feature is in the pipeline of powerplantmatching, but you could check this tool:
https://github.com/tum-ens/pyPRIMA/
which I created specifically to be able to aggregate data (in particular power plant capacities from here) as I wish.

[2021-06-30 07:40] fneum commented on #46
Good idea, shouldn't be too difficult to implement:

Just a sketch out of the head: assuming `gdf` is powerplantmatching database as geopandas DataFrame and `regions` as the geopandas Series with the NUTS2/3, GADM shapefiles it should just be:

[code]

One could have this as a frontend function where the user passes the `regions` shapes.

[2021-06-30 13:19] fneum commented on #46
Ok, here's how it could look in more detail.

@FLomb could you check whether this would fit your use case or what would be missing? It should allow any GeoDataFrame.

[code]

This can be run as:

[code]

which would output:

|    | NUTS_ID   | Fueltype   | Technology     | Set   | Country   |   Capacity |   Efficiency |   Duration |   Volume_Mm3 |   DamHeight_m |     lat |     lon |   DateIn |   D

[2021-07-01 12:04] FLomb commented on #46
Hi @fneum, thanks for the quick reply!

At first sight, yes, this seems pretty much what I was looking for! In your example you are still outputting at NUTS0, so I should possibly test it myself and see what happens when applied to some NUTS2/GADM shapefile. I'll try to do so asap

[2021-07-01 13:50] fneum commented on #46
Yes, that would be good if you test it. Just used NUTS0 to compare with the Country column. You could use NUTS_RG_01M_2016_4326_LEVL_2.geojson from https://gisco-services.ec.europa.eu/distribution/v2/nuts/download/#nuts21

[2021-07-05 08:49] FLomb commented on #46
Ok, I tested it but it looks like I'm having some issues. I've tried both using NUTS0 data for all EU and GADM data for a single country. In both cases, it kinda works but it skips several plants in the aggregation, e.g. all renewables and bioenergy. Not sure if it could be due to the fact that these techs thend to have a "nan" technology type, unlike others like Hydro.

[2021-07-12 16:13] FLomb commented on #46
Ok, quick follow-up: I had some time to debug the problem and I managed to make it work by indeed avoiding any nan values for techs whose Technology type was 'nan'.

This said, there are still some issues when adopting different shapefiles. For instance, there is a Hydro-Reservoir power plant in Portugal (id: 5468, name: "Foz tua") whose coordinates (erroneously) lie outside the inland area of Por

[2021-07-12 16:25] FLomb opened #47 "Possible bug: where is Wind in Italy?"
Hi,

I noticed that, for some reason, your data show 0 wind power plants to exist in Italy, whereas Italy has about 10 GW of Wind power installed as of yet. Where is this wind gone? It seems strange, considering the variety of databases you use, that this issue occurs.

[2021-07-12 16:33] kais-siala commented on #47
I think wind and solar are underreported here. I use the values from IRENA (which does not provide a geographical distribution), and distribute them myself depending on maps of capacity factors (and some randomness).

[2021-07-12 16:35] kais-siala commented on #46
You could create a small buffer around each polygon - but then you will have to deal with the issue of power plants lying in more than one region.

[2021-07-12 16:43] fneum commented on #47
In fact, wind and solar are not matched at all.

More on the background why wind and solar are not included in the matching process in Section 2.4 of https://doi.org/10.1016/j.esr.2018.11.004

I think the mentioned concatenation works with

[code]

judging from https://github.com/FRESNA/powerplantmatching/issues/11 but haven't used it since then (and might take some time).

Distributing by the cap

[2021-07-12 16:51] fneum commented on #46
Hmm, yes the buffer is an option but could be very fiddly.

Was it a coarse shapefile (e.g. 60M)? Does it occur with a highly-resolved shapefile? 10m or 1m? I would see the coordinates as the ground truth rather than the country label.

Could you share how you addressed the Technology nans?

[2021-07-13 07:16] FLomb commented on #46
Yeah, I had thought myself of creating a buffer around polygons, which would work in this case because the plant in question is erroneously placed in the sea by its coordinates, while it should be instead a hydro plant inland. Yet, for a broader application, this trick might easily lead to problems with neighbouring regions/countries. As far as the shapefile, I have tried a couple of different one

[2021-07-13 07:22] FLomb commented on #47
Thanks for the comments. It looks like the extension you suggest leads to an Error on my machine:

`TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe'`

[2021-07-20 11:51] koen-vg commented on #41
I was also struggling with getting powerplantmatching to use my own config, and in the end also placed my configuration in `repo_data_dir/custom.yaml`.
It doesn't seem like `~/.powerplantmatching_config.yaml` has any effect, and it also doesn't seem like the `config` option for the `pm.powerplants` takes full effect.

Would a pull request with a suggestion for how to fix this be appreciated?

[2021-07-20 13:04] Eugenio2192 commented on #42
Thanks for the reply, I haven't done a PR because my solution dropped its own issues so I am still working on it.

[2021-07-20 14:00] Eugenio2192 commented on #41
@koen-vg I just made a pull request, I did some local tests and it is working properly. If you don't want to wait for the merge just pull the core.py file from my fix-custom-config branch

[2021-07-20 14:10] Eugenio2192 commented on #45
@NathanKalt In my project I needed Efficiencies as well so I implemented a series of scripts to estimate the conventional power plants based on the available data using different regression methods:

https://gitlab.com/dlr-ve/autumn/-/blob/master/autumn/scripts/proxy_efficiency.py

I have yet to  generalize it a little so It can be used independently from my tool but if you are willing to dig into

[2021-07-20 14:20] koen-vg commented on #41
Oh great! I'm in no particular hurry, but good to know :)

[2021-07-21 11:44] #24 closed

[2021-07-26 15:10] FabianHofmann opened #50 "Switch from duke to dedupe"
I found this wonderful package https://github.com/Lyonk71/pandas-dedupe which might make things much easier for deduplicating and linking.

[2021-07-27 08:04] #32 closed

[2021-07-28 11:09] FabianHofmann commented on #41
Please reopen if some unexpected behaviour reappears.

[2021-07-28 11:09] #41 closed

[2021-07-28 11:52] FabianHofmann commented on #47
Cannot reproduce the mentioned error on the current master, feel free to reopen (or rather open another issue) if it still occurs.

[2021-07-28 11:52] #47 closed

[2021-10-26 06:54] lisazeyen opened #56 "simplify functions to use new functionality of entsoe-py"
as pointed out by @ericzhou571 [entsoe-py](https://github.com/EnergieID/entsoe-py) package has now a function to return directly a pandas DataFrame what could simplify the function [`def ENTSOE`](https://github.com/FRESNA/powerplantmatching/blob/bcae330adef96a795740fe146d8e5661fb14ed8e/powerplantmatching/data.py#L714)

[2021-10-26 07:05] lisazeyen opened #57 "broken powerplantmatching.utils.fill_geoposition"
as pointed out by @ericzhou571 [powerplantmatching.utils.fill_geoposition](https://github.com/FRESNA/powerplantmatching/blob/master/powerplantmatching/utils.py#L592) does not work anymore

Error message:
`ConfigurationError: Since July 2018 Google requires each request to have an API key. Pass a valid `api_key` to GoogleV3 geocoder to fix this error.`

See also [here](https://developers.google.com

[2021-11-11 19:09] KaneM2 opened #59 "Return unit level aggregation instead of power plant level"
I was wondering is there a way of returning unit level aggregation of the power plants without the vertical aggregation? e.g instead of returning Belleville, Nuclear, 2620 MW there would be two rows , Belleville 1 , Nuclear , 1310 MW and Belleville 2 , Nuclear , 1310 MW

[2022-01-03 08:37] pz-max opened #60 "Add globalenergyobservatory data"
http://globalenergyobservatory.org/list.php?db=PowerPlants&type=Hydro

[2022-02-24 16:21] euronion opened #61 "Undocumented dependency (java)"
PPM requires `java` for duke. Java is not documented as a dependency.

For `conda` useres, `openjdk` is available in `conda-forge` (`conda install -c conda-forge openjdk`). Not sure about options for `pip` installation.

The dependecy should at least be documented somewhere.

Ping https://github.com/pypsa-meets-africa/pypsa-africa/issues/279

[2022-04-01 14:12] FabianHofmann commented on #60
is already in :) called `GEO`

[2022-04-01 14:23] #60 closed

[2022-04-04 15:16] FabianHofmann commented on #56
done in current release

[2022-04-04 15:16] #56 closed

[2022-04-05 06:38] FabianHofmann opened #64 "Set not correctly assigned"
The Set column sometimes not correctly assigned. There are some pumped hydro store declared as `PP`, all run-of -river as Store.

[code]

[2022-04-11 19:18] FabianHofmann commented on #38
Closing as the issue is solved now ( the function does not delete rows anymore)

[2022-04-11 19:24] FabianHofmann opened #66 "Improve final dataset creation"
In the last version there were duplicated entries in the final dataset. These likely come from geo-positions which were not correctly parsed. A better approach would be to disable the fill_geositions in the OPSD and ENTSOE dataset, and enable teh geoparsing for the matched dataset to fill up coordinates.

[2022-04-27 10:06] chadhat opened #68 "AttributeError: 'DataFrame' object has no attribute 'Name"
Error when trying to load any data. (using e.g. pm.data.ENTSOE() or pm.powerplants() )

Example:

import powerplantmatching as pm
entsoe = pm.data.ENTSOE()
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-96155cab6740> in <module>
----> 1 entsoe = pm.data.ENTSOE()

/media/chadhat

[2022-04-27 11:56] FabianHofmann commented on #68
Hey @chadhat I cannot not reprocude the error, which version are currently at? There were a lot of updates recently...

[2022-04-27 11:57] #66 closed

[2022-04-27 11:59] FabianHofmann commented on #39
this is solved in the most recent version, thanks for reporting

[2022-04-27 11:59] #39 closed

[2022-04-27 12:45] chadhat commented on #68
@FabianHofmann I am using the version '0.5.3' with Python 3.8.10

[2022-04-28 21:46] FabianHofmann commented on #68
I still cannot reproduce the error, even from a fresh install in a new environment. Do you have the ENSTSOE api key added to your config?

[2022-04-29 08:10] C-Perez-Villanueva commented on #68
Mmm I am not sure. I have the package entsoe-py installed in its version 0.5.4, but if the api key you're saying is the one I have to request via email directly to ENTSOE, I was not aware I needed that and I just requested it. Hence, I think I have to wait to receive it to try it again.

[2022-04-29 14:59] C-Perez-Villanueva opened #69 "The system cannot find the file specified, when aggregating"
Hello everyone!
I am new using the package, and I still feel a bit lost. I am trying to do the example that is in the repository (example.ipynb), but I'm facing an error when I run the line that puts the data sets on the same level of aggregation.

dfs = [geo.powerplant.aggregate_units(), opsd.powerplant.aggregate_units()]

I think it might be due to my configuration, that maybe I'm lacking some l

[2022-05-01 09:06] chadhat commented on #68
How should this key be added? Shall this be added to the dictionary pm.package_config? If yes, with what key?

[2022-05-01 09:12] chadhat opened #70 "Using powerplantmatching for a new dataset"
Is it possible to use powerplantmatching on a new different dataset?

We have a network dataset where some of the information such as geographical location is missing. Would it be possible to match it with the datasets already included in powerplantmatching?

If yes, what is the way to do that? Do you have some documentation for that?

[2022-05-01 10:00] FabianHofmann commented on #69
Hey @C-Perez-Villanueva if you have a look at the error message, you see what the problem is:
[code]

So you have to install Java first. Please reopen if the error occurs again after the installation

[2022-05-01 10:00] #69 closed

[2022-05-03 10:32] C-Perez-Villanueva commented on #69
Thank you very much.
I had java installed but not in the environment I was running, thank you for your help, now it is working.

[2022-05-03 11:33] C-Perez-Villanueva commented on #68
@chadhat, I think you have to modify the .powerplantmatching_config.yaml file, as written in the following page: https://github.com/FRESNA/powerplantmatching/blob/master/doc/custom-config.rst

@FabianHofmann I already added the token/api key to my configuration, but I'm still facing the same problem. I was thinking maybe to reinstall the package in a new environment, maybe there was sth wrong duri

[2022-05-17 08:50] Parisra opened #71 "Problem with some power plants start year (DateIn)"
Hi there!

I've been running some simulations with the latest version of pypsa-eur-sec, but every-time I tried to do a myopic run, I got the following error:

Traceback (most recent call last):
  File "/home/parisr/projects/pypsa-eur-sec/.snakemake/scripts/tmpy5ti4rwe.add_existing_baseyear.py", line 491, in <module>
    add_power_capacities_installed_before_baseyear(n, grouping_years, costs, basey

[2022-05-27 14:16] ebbekyhl opened #72 "PHS capacity"
Hi,

With regard to pumped-hydro storage (PHS), the newest version of powerplantmatching shows an existing energy storage capacity of 4.3 TWh (Europe-aggregate, assuming 6-hours duration for plants that do not have duration specified). In the earlier version 0.4.8, this number was a bit higher (10 TWh). As comparison, Geth et al. (2015) showed a PHS energy capacity of 1.3 TWh (including Norway and

[2022-06-05 23:08] davide-f opened #73 "GEO and GPD links leading to bad gateway"
The Workflow in PyPSA-Africa is crashing because when ppl loads the GEO dataset, the corresponding link leads to bad gateway because the fias website where data are stored cannot be found. Link: https://vfs.fias.science/f/3f4cc3876f/?raw=1

Do you know whether this is permanent? Otherwise maybe a rehosting is needed?

[2022-06-07 06:39] FabianHofmann commented on #73
Thank you @davide-f for reporting, I'll fix it.

[2022-06-07 06:41] FabianHofmann commented on #73
oh it seems the server itself is down due to maintenance. I cannot update the link for now, let's wait till tomorrow if it is available again. Sorry for the inconvenience...

[2022-06-07 12:41] davide-f commented on #73
It has been unavailable for about 4-5 days, but now it's back on.
I close the issue

[2022-06-07 12:41] #73 closed

[2022-08-04 17:52] davide-f opened #76 "Dataset GEM_GGPT not working"
Hi!

The new contribution by GEM_GGPT is very interesting, but unfortunately it is not working.
The new feature is not in the config.yaml and hence it is not being tested in the ci.

As a confirmation, if we look at the followin lines, it is possible to notice that df is not defined if config is not None, which is usually the case.
https://github.com/PyPSA/powerplantmatching/blob/ae06ab50bd6ec2f77

[2022-08-11 07:47] ebbekyhl commented on #72
Duration is defined here https://github.com/PyPSA/powerplantmatching/blob/ae06ab50bd6ec2f778798c5eff256144de58f450/powerplantmatching/data.py#L420

But this issue mentions that the 'StorageCapacity_MWh' attribute might not be very accurate: https://github.com/energy-modelling-toolkit/hydro-power-database/issues/1#issue-431861691

Furthermore, the 'Villarino Almendra' (id 487) might be the main sou

[2022-08-29 08:25] fneum commented on #16
New dataset available: https://zenodo.org/record/6807426#.Ywx33VpByV5

[2022-08-29 11:12] FabianHofmann commented on #72
@ebbekyhl there was a bug in the aggregation of duration values (missing values distorted the weighted average computation). With the newest version of ppm, the capacities are at 9.05 TWh again. Where the missing 1 TWh comes from I cannot say atm... If this solves the initial issue, feel free to close it.

[2022-08-29 12:51] FabianHofmann commented on #71
Hey @Parisra, thanks for reporting! This is indeed a bug that came from a from parsing of the Wikipedia data. I'll publish a new version during the next days in which this should be resolved.

[2022-08-29 12:54] FabianHofmann commented on #70
Hey @chadhat, sorry for the late reply! There is a section is the documentation for this

https://powerplantmatching.readthedocs.io/en/latest/contributing.html#integrating-new-data-sources

Please reopen if the you need further help.

[2022-08-29 12:54] #70 closed

[2022-08-29 12:59] FabianHofmann commented on #57
Closing, as the function is not broken but the api key seems to be missing. This has to be added to the `.powerplantmatching_config.yaml`, see https://powerplantmatching.readthedocs.io/en/latest/custom-config.html. Reopen if something is still missing.

[2022-08-29 12:59] #57 closed

[2022-08-29 12:59] #50 closed

[2022-08-29 13:00] #25 closed

[2022-08-30 07:22] ebbekyhl commented on #72
Thanks for checking up on this, @fneum. I will close this issue. My initial remark concerned whether 4 (or now 9) TWh was a realistic estimate of current PHS capacity. But this might more relate to the hydro-power-database by the JRC - and thus not a bug in powerplantmatching.

[2022-08-30 09:18] FabianHofmann commented on #72
Sorry for not reading the initial issue properly again. You are right, this seems to be an issue with JRC, for example the largest storage reservoir are

|      | Name                                       | Country   |   StorageCapacity_MWh |
|-----:|:-------------------------------------------|:----------|----------------------:|
| 2643 | Svartisen                                  | Norway    |

[2022-09-05 10:59] FabianHofmann commented on #72
thanks @martavp, I'll retag them as reservoirs then.

[2022-09-05 11:39] #72 closed

[2022-09-23 10:02] bourbl commented on #45
I added a pull request #78 that could work as a solution to this.

[2022-10-01 20:38] pz-max commented on #76
@davide-f , I played a bit around here: https://github.com/max-parzen/powerplantmatching potentially fixing GEM_GGPT
I am quite unsure if the stats improved or not. It would be good to have a before -> after powerplant capacity comparison to always  track the impact of changes to the codebase. Let's catch up next week to test the GEM_GGPT changes :)

[2022-10-18 10:57] Parisra commented on #71
Great, happy to have helped. I ran the model again with the new version and did not get any errors, I will close the issue now.

[2022-11-01 17:41] pz-max commented on #12
@FabianHofmann as mentioned, @davide-f worked on his fork on integrating OpenStreetMap data for generators. Compare here Davide's branch `new_pypsa_africa` with the `PyPSA master`: https://github.com/PyPSA/powerplantmatching/compare/master...davide-f:powerplantmatching:new_pypsa_africa.

Basically, we retrieve the OSM and store it locally. The `EXTERNAL_DATABASE` function allows to add locally sto

[2022-11-03 07:27] #76 closed

[2022-11-03 12:05] pz-max opened #80 "Add GEM coal plan data"
This is a nice exercise and can be similarly achieved with PR https://github.com/PyPSA/powerplantmatching/pull/79
Let me know if someone wants to tackle that. We have a data interface.

[2022-11-03 12:05] pz-max opened #81 "Add GEM geothermal data"
This is a nice exercise and can be similar achieved with PR https://github.com/PyPSA/powerplantmatching/pull/79

[2022-11-03 12:05] pz-max commented on #81
Let me know if someone wants to tackle that. We have a data interface.